{% extends "bootstrap/base.html" %}


{% block title %}
My Blog
{% endblock %}


{% block navbar %}

<nav class="navbar navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">
            My Tech Blog
        </a>

        <div>
            <a class="text-white me-3" href="/">Home</a>
            <a class="text-white" href="/about">About</a>
        </div>

    </div>
</nav>

{% endblock %}

{% block content %}

<div class="container mt-5">
{% block page_content %}
{% endblock %}
</div>
{% endblock %}